
<div class="container-sm">
  <h1 class="text-center mt">About</h1>
  <%# <p>https://t.me/TarasUK1</p>
  <p>relaxsonik@gmail.com</p> %>
  
  <a href="https://t.me/TarasUK1" class="button telegram-button mt-sm text-md"><%= fa_icon('telegram')%> Telegram</a>
  <a href="https://github.com/Tarasukk/Web" class="button github-button mt-sm text-md"><%= fa_icon('github')%> GitHub</a>
  <a href="mailto:relaxsonik@gmail.com" class="button mail-button mt-sm text-md"><%= fa_icon('envelope')%> Mail</a>

</div>