.button {
    border: 0;
    border-radius: 5px;
    color: #1e2329;

}

.reg-button {
    padding: 8px 13px 7px;
}

.button-yellov {
    background-color: #fbd448;
}

.button-yellov:hover {
    background-color: #fcd95a;
}

.button-main {

    padding: 15px 60px;
}