.form-text-field {
    border: 1px solid #eaecef;
    border-radius: 3px;
    padding: 15px 10px;
    width: 359px;

}

.form-text-field:focus {
    border-color: #efb82d;

    outline-width: 0;

}

.form-text-field:hover {
    border-color: #efb82d;
}