body,
p,
h1,
div,
hr {
    margin: 0;
    padding: 0;
}

body {

    background: #fafafa;

    /* mb delete */
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-right: 10rem;

}

.header {

    position: relative;
    opacity: 0.9;
    width: 100%;
    height: 70px;
    top: 0rem;
    /* z-index: 1; */
    background-color: #fff;
    /* box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2); */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    display: flex;

}

.menu-item {
    color: #1e2329;
}

.reg-log {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.main-section {
    display: flex;
    justify-content: center;
    margin-top: 126px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #eaecef;

}

.separator:not(:empty)::before {
    margin-right: .5em;
}

.separator:not(:empty)::after {
    margin-left: .5em;
}

.main-left-section {
    margin-right: 100px;
    font-size: 20px;
}

.reg-main-section {
    max-width: 68.5%;
}



.main-bottom-section {
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;

}

.container {
    width: 1400px;
    margin: 0 auto;
}

.container-sm,
.container-md,
.container-lg {
    margin-left: auto;
    margin-right: auto;

}

.container-sm {
    width: 378px;
}

.container-md {
    width: 600px;
}

.container-lg {
    width: 1150px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.markets-item {
    width: 14rem;
    padding: 20px;
}

.mark-last-item {
    max-width: 4rem;
}

.markets-nav-bar {
    background: #ebe6e6;
    padding: 10px;
    border-radius: 0.3rem;
}

.display-flex {
    display: flex;
}

.center {
    display: block;
}

.coin-row {
    padding: 4px;
}

.circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 60px;
    color: #fff;
    background: #0088CC
}

.coins-frame {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
}