.ml-sm {
    margin-left: 0.6rem;
}

.ml {
    margin-left: 1rem;
}

.ml-lg {
    margin-left: 1.75rem;
}

.mt {
    margin-top: 100px;
}

.mt-sm {
    margin-top: 2rem;
}

.very-mb-sm {
    margin-bottom: 0.5rem;
}

.very-mt-sm {
    margin-top: 1.5rem;
}

.table-mt {
    margin-top: 0.4rem;
}

.coins-name {
    margin-top: 0.5rem;
}

.name {
    margin-left: 1rem;
}

.price {
    margin-left: 18.7rem;
}

.change {
    margin-left: 19.7rem;
}

.change2 {
    margin-left: 17.5rem;
}