body,
a {
    font-family: 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;

}

.header-text {
    padding: 1rem;
    color: #efb82d;
    font-size: 20px;

}

.title {
    text-align: center;
}

.text-red {
    color: red;
}

.text-gray {
    color: #717a8a;

}

.text-light-black {
    color: #1e2329;

}

.text-center {
    text-align: auto;
}

.text-sm {
    font-size: 14px;
}

.text-lg {
    font-size: 40px;
}

.text-md {
    font-size: 18px;
}