body,
a {
    font-family: 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.header-text {
    padding: 1rem;
    color: #efb82d;
    font-size: 20px;

}

.title {
    text-align: center;
}

.text-red {
    color: #cd334d;
}

.text-green {
    color: #19a56f;
}

.text-gray {
    color: #717a8a;

}

.text-light-black {
    color: #1e2329;

}

.text-yellow {
    color: #c89320;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 14px;
}

.text-lg {
    font-size: 40px;
}

.text-md {
    font-size: 18px;
}