body,
a {
    font-family: 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;

}

.header-text {
    padding: 1rem;
    color: #efb82d;
    font-size: 20px;

}

.title {
    text-align: center;
}

.text-red {
    color: red;
}

.text-center {
    text-align: auto;
}

.title-main {
    margin-top: 126px;
    margin-left: 100px;
    font-size: 20px;
}